<div class="me">
    <h1 class="me__title">Olá!</h1>

    <p class="me__descr">Me chamo Henrique Albuquerque, estou cursando análise e desenvolvimento de sistemas pela faculdade Bandtec, hoje sou desenvolvedor atualmente estagiando no Banco Safra</p>

    <div class="me__redes">
        <img (click)="openSocial('https://www.linkedin.com/in/albuquerquefs/')" class="social__icon" src="./assets/img/linkedin.png">
        <img (click)="openSocial('https://github.com/albuquerqueFS')" class="social__icon" src="./assets/img/github.png">
        <img (click)="openSocial('https://www.instagram.com/henrique.hlb/')" class="social__icon" src="./assets/img/instagram.png">
    </div>
</div>