<div class="config">
    <div class="projects">

        <div class="newcard">
            <div class="card__presenter">
                <img id="plantcare_img" class="blur_it" src="https://i.ibb.co/QP0sDvh/plantcare.png">
    
                <div class="newcard__absolute">
                    <h1 id="plantcare_title" class="newcard__title">PLANT CARE</h1>
                    <button id="plantcare_description" class="newcard__button" (click)="knowMore('plantcare')">Mostrar mais</button>
                </div>
            </div>

            <div id="plantcare_details" class="card__details">
                <!-- <p class="details__title" style="font-weight: 500;">O plant care foi o meu projeto de primeiro semestre da faculdade Bandtec.</p> -->
                <p class="details__title" style="font-weight: 500;">Plant care foi um projeto desenvolvido para a matéria de pesquisa e inovação para a faculdade Bandtec.</p>
                <a (click)="openGit('https://github.com/albuquerqueFS/projeto-plant-care')" class="details__github"><img src="../assets/img/github.png">Github do projeto</a>
                <p class="details__description">Basicamente, consiste em um vaso de planta que pode ser utilizado para monitorar pessoas de idade. Através de sensores de temperatura e umidade nós conseguimos dar emoções a planta, motivando o idoso a cuidar da mesma. Todos os dados de interação com a planta são apresentados em um dashboard especial para o cuidador.</p> 
            </div>
        </div>


        <div class="newcard">
            <div class="card__presenter">
                <img id="finansys_img" class="blur_it" src="https://i.ibb.co/RYZj0Qn/finansys.png">
    
                <div class="newcard__absolute">
                    <h1 id="finansys_title" class="newcard__title" style="color: rgb(24, 47, 110);">FINANSYS</h1>
                    <button id="finansys_description" class="newcard__button" (click)="knowMore('finansys')">Mostrar mais</button>
                </div>
            </div>
            
            <div id="finansys_details" class="card__details">
                <p class="details__title" style="font-weight: 500;">Finansys é um projeto parte do curso de Angular Master-Detail do professor Nonato Costa na udemy.</p>
                <a (click)="openGit('https://github.com/albuquerqueFS/angular-finsys-CRUD')" class="details__github"><img src="../assets/img/github.png">Github do projeto</a>
                <p class="details__description">Basicamente, consiste em um vaso de planta que pode ser utilizado para monitorar pessoas de idade. Através de sensores de temperatura e umidade nós conseguimos dar emoções a planta, motivando o idoso a cuidar da mesma. Todos os dados de interação com a planta são apresentados em um dashboard especial para o cuidador.</p> 
            </div>
        </div>


        <div class="newcard">
            <div class="card__presenter">
                <img id="aig_img" class="blur_it" src="https://i.ibb.co/k8c2BfW/AIGPHOTO.png">

                <div class="newcard__absolute">
                    <h1 id="aig_title" class="newcard__title" style="color: rgb(255, 255, 255);">AIG</h1>
                    <button id="aig_description" class="newcard__button" (click)="knowMore('aig')">Mostrar mais</button>
                </div>
            </div>
            
            <div id="aig_details" class="card__details">
                <p class="details__title" style="font-weight: 500;">O AIG foi meu TCC da ETEC de Itaquera. .</p>
                <a (click)="openGit('https://github.com/albuquerqueFS/AIG')" class="details__github"><img src="../assets/img/github.png">Github do projeto</a>
                <p class="details__description">AIG é um aplicativo que visa educar as pessoas sobre investimentos na bolsa de valores e gerenciamento financeiro pessoal.</p> 
            </div>
        </div>
    </div>
</div>

<!-- <p class="card__description">O Finansys é gerenciador financeiro em Angular (9.1.5) que possbilita categorizar e realizar lançamento de pagamentos. Feito apartir do curso de Angular Master-Detail na Udemy.</p> -->